body{
	margin:0px;
	padding: 0px;

}

#a{
	display: inline-block;
	background-color:red;
	width:100px;
	height:100px;
}

#b{
	display: inline-block;
	background-color:blue;
	width:100px;
	height:100px; 
}

#c{
	display: inline-block;
	background-color:black;
	width:100px;
	height:100px; 
}

#d{
	display: inline-block;
	background-color:green;
	width:100px;
	height:100px; 
}

#e{
	display: inline-block;
	background-color:yellow;
	width:100px;
	height:100px; 
}

#f{
	display: inline-block;
	background-color:orange;
	width:100px;
	height:100px; 
}